:root {
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --icon-hover: #1414ff;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --unidad-primaria: 4rem;
  --unidad-secundaria: 2rem;
  --vel-trancisión: 600ms;

}
.css-selector {
    background: linear-gradient(270deg, #ffeecc, #fedb96, #ffc85d, #c3a977);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 60s ease infinite;
    -moz-animation: AnimationName 60s ease infinite;
    animation: AnimationName 60s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
body {
  color: black;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
   background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
   background: #6649b8;
}

main {
  margin-left: var(--unidad-primaria);
  padding: 1rem;
}
.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 251ms ease;
}
.text-link {

}
h1 {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bolder;
  text-shadow: 0 0 0.2em #ccc;
  margin-bottom: 1rem;
  padding: 0;
  text-align: left;
  letter-spacing: 0.01ch;



}
p {
  font-family: 'Noto Sans JP', sans-serif;

}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.nav-item {
  width: 100%;
}

.navbar-nav:last-child {
  margin-top: auto;
}
.nav-link {
  display: flex;
  align-items: center;
  height: var(--unidad-primaria);
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.6);
  transition: var(--vel-transición)
}
.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}



.link-text {
  display: none;
  margin-left: 1rem;
}
.nav-link i {
  min-width: var(--unidad-secundaria);
  margin: 0 1.5rem;

}

/*
  ESTA PORCIÓN DE CODIGO CORRESPONDE A LA MEDIA QUERY PARA PANTALLAS GRANDES
navbar:hover {
  width: 10rem;
}
.navbar:hover .link-text {
  display: inline;
  transition: opacity var(--vel-trancisión)
}
*/


.fas {
transition: var(--vel-transición)
color: #ff7eee;
}
.fas fa-code {
  transform: rotate(0deg);
  transition: transform var(--vel-trancisión);

}
.fas:hover fa-code {
  transform: rotate(-180deg);
  transition: transform var(--vel-trancisión);
}
.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  letter-spacing: 0.3ch;
  width: 100%;
}
.logo i {
  transform: ;
  transform: rotate(0deg);
  transition: transform var(--vel-trancisión)
}
.navbar:hover .logo i {
  transform: rotate(-180deg);
}
.juanPic {
  border: 1px;
  border-radius: 50%;
  display: block;
 max-width:230px;
 max-height:95px;
  width: auto;
  height: auto;
  height: 50%;
  padding: 0;
  margin: 0;
}
.tituloGen {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
}
.infoGen {
  font-family: 'Merriweather', serif;
  font-weight: bold;
}
.infoGenBottom {
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

.contactoList {
padding: 16rem;

}


/*Animación para celulares (pantalla chiquita)*/
@media only screen and (max-width: 768px) {
.navbar {
  bottom: 0;
  width: 100vw;
  height: 5rem;
}
.logo {
  display: none;
}
.navbar-nav {
  flex-direction: row;
}
.nav-link {
  justify-content: center;
}
main {
  margin: 0;
}
}
/*Animación para pantalla grande)*/
@media only screen and (min-width: 600px) {
.navbar {
  top: 0;
  width: var(--unidad-primaria);
  height: 100vh;
  overflow: hidden;
}

.navbar:hover {
  width: 10rem;
}
.navbar:hover .link-text {
  display: inline;
  transition: opacity var(--vel-trancisión)
}

}
