:root {
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --unidad-primaria: 4rem;
  --unidad-secundaria: 2rem;
  --vel-trancisión: 600ms;

}
body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;



}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
   background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
   background: #6649b8;
}

main {
  margin-left: var(--unidad-primaria);
  padding: 1rem;
}
.navbar {
  width: var(--unidad-primaria);
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
}
.text-link {

}
h1 {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;


}
p {
  font-family: 'Noto Sans JP', sans-serif;

}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.nav-item {
  width: 100%;
}

.navbar-nav:last-child {
  margin-top: auto;
}
.nav-link {
  display: flex;
  align-items: center;
  height: var(--unidad-primaria);
  color: var(--text-primary);
  text-decoration: none;
  /*filter: grayscale(100%) opacity(0.6);*/
  transition: var(--vel-transición)
}
.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}



.link-text {
  display: none;
  margin-left: 1rem;
}
.nav-link i {
  min-width: var(--unidad-secundaria);
  margin: 0 1.5rem;

}
.navbar:hover {
  width: 10rem;
}
.navbar:hover .link-text {
  display: block;
}

.


.fas {
transition: var(--vel-transición)
color: #ff7eee;
}



.juanPic {
  border: 1px;
  border-radius: 50%;
  display: block;
 max-width:230px;
 max-height:95px;
  width: auto;
  height: auto;
  height: 50%;
  padding: 0;
  margin: 0;
}
.tituloGen {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
}
